{% extends "layout.html" %}

{% block title %}Endless {{ title }} Quiz{% endblock %}

{% block styles %}

    <style>
        body {background-color:{{ bkcolor }}; }
    </style>

{% endblock %}


{% block content %}

    <h1>{{ question }}</h1>


    <form id="answer-form">
        <input type="text" id="user_answer" autocomplete="off" autofocus>
        <input class="hidden" id="submit_btn" name="sub_btn" value="Submit">
        <input type="hidden" id="correct_answer" value="{{ ans }}" />
    </form>

    <div id='feedback'></div>

    <div id="table_wrapper">
        <table class="centered">
            <tr>
            <td>
                <a class="button" href="">
                    <span class="away">Just Tell Me</span>
                    <span class="over">{{ ans }}</span>
                </a>
            </td>

            <td>
                <a class="button" href="/">
                    <span class="away">Make It Stop</span>
                    <span class="over">Take me home</span>
                </a>
            </td>

            </tr>
        </table>
    </div>

{% endblock %}


{% block script %}

    <script src="/static/quiz.js"></script>

{% endblock %}